<%- include partials/_header %>
<p>
  <a href="/urls/new">Create a new short URL!</a>
</p>

</div>

<div class="content">
  <h1>Your URLs List:</h1>
  <ul>
    <% if (currentUser){ %>
      <% for(let shortURL in userURLs){ %>
        <li><b><%= shortURL %></b>: <%= userURLs[shortURL][shortURL] %> <a href="/urls/<%= shortURL %>"> Edit </a>
            <form method="POST" action="/urls/<%= shortURL %>/delete?_method=DELETE">
              <input type="submit" value="Delete! ðŸ—‘ï¸" class="button button1">
            </form>
        <br>
        </li>
      <% } %>
    <% } else {%>
      <p>Please login to see personalized list of URLs.</p>
    <% }%>
  </ul>
</div>

</body>
</html>