<%- include partials/_header %>
<p>
  <a href="/urls">Your current list of URLs</a>
</p>
<p>
  <a href="/urls/new">Create a new short URL!</a>
</p>

</div>

<div class="content">

  <h1>Edit Your Short URL</h1>
  <p> Short URL: <a href= "/u/<%= shortURL %>"><%= shortURL %></a> ➡️ <%= longURL %> </p>
  <p> Visits: <%= views %> </p>
  <p>
    <form method ="POST" action="/urls/<%= shortURL %>?_method=PUT">
      <label for="newURL"> Change URL: </label>
      <input type="text" name="newURL" placeholder="<%= longURL %>" style="width: 300px; font-size: 20px; height: 30px; margin: 1em">
      <input type ="submit" value="Update!" class="button button1" >
    </form>
  </p>
</div>

</body>
</html>
