<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <%- include partials/_header %>

  <a href="/urls/new">Create New URL</a>

  <h4><br>List of URLs:</br></h4>
    <ul>
      <% if ( currentUser ){ %>
        <% for(let shortURL in userURLs){ %>
          <li><b><%= shortURL %></b>: <%= userURLs[shortURL][shortURL] %>
          <br>
          <form method="POST" action="/urls/<%= shortURL %>/delete?_method=DELETE">
            <a href="/urls/<%= shortURL %>"> Edit </a>
            <input type="submit" value="Delete ðŸ—‘ï¸">
          </form>
          </li>
        <% } %>
      <% } else {%>
        <p>Please login to see personalized list of URLs.</p>
      <% }%>
  </ul>

</body>

</html>